{% extends "tweet_search/layout.html" %}

{% block Body %}

<div class="textblock" xmlns="http://www.w3.org/1999/html">
    <h2><span class="icon-twitter blue"></span> Sentiment Tool</h2>

    <p>Yet another way to search sentiment and opinions on brands or products. Enter a query below
    to search for <span class="positive">positive</span> and
        <span class="negative">negative</span>   opinions.</p>
</div>

<div class="row">
    <div class="large-10 columns">
        <input id="search-input" placeholder="E.g Microsoft..."/>
    </div>

    <div class="large-2 columns">
        <a id="search-btn" class="large button expand">
            <span class="icon-search icon-2x"></span>
        </a>
    </div>
</div>

{% include "tweet_search/alerts.html" %}


<div id="tabs" class="section-container vertical-tabs hidden" data-section="vertical-tabs">
    <section>
        <p class="title" data-section-title><a href="#">Tweets</a></p>
        <div id="tweets" class="content" data-section-content>

        </div>
    </section>
    <section>
        <p class="title" data-section-title><a href="#">Statistics</a></p>
        <div id="statistics" class="content" data-section-content>

            <div id="counts">
                <p><i class="icon-smile icon-large positive"></i> :
                <span id="positive-count" class="positive">24</span> </p>
                <p><i class="icon-meh icon-large neutral"></i> :
                <span id="neutral-count" class="neutral">24</span> </p>
                <p><i class="icon-frown icon-large negative"></i> :
                <span id="negative-count" class="negative">24</span> </p>
            </div>
        </div>
    </section>
    <section>
        <p class="title" data-section-title><a href="#">Summary</a></p>
        <div id="summary" class="content" data-section-content>
            <p class="positive"> </p>
            <p class="negative"> </p>
        </div>
    </section>
</div>
{% endblock %}
