<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Twitter sentiment</title>


    {% include "tweet_search/styles.html" %}
    <script src="/static/js/vendor/custom.modernizr.js"></script>

</head>

<body>

<div id="spinner"></div>

<div class="row">
    <div id="main-div" class="large-12 columns">

        {% block Body %} {% endblock %}

    </div>
</div>


{% include "tweet_search/scripts.html" %}

{% block Scripts %} {% endblock %}

</body>
</html>
